{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <form method="post">
        <div class="row mt-25">
            <div class="col-md-12">
                <div class="control-panel">
                    <div class="panel panel-default service__panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ gettext('Please, enter a text') }}</h3>
                        </div>
                        <div class="panel-body">
                            <p><textarea class="form-control" rows="10" name="inputText"
                                         placeholder="Enter text">{{ _input }}</textarea></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label for="selectorId">{{ gettext("Select conditions:") }}</label>
            <br>
            <br>
            <input type="radio" name="mode" value="radiobutton1" id="radiobutton1"
                    {% if form_options["radio"] == 'radiobutton1' or not is_post %}
                   checked {% endif %}>
            <label for="radiobutton1">{{ gettext('Official romanization') }}</label> (<a href="http://www.pravo.by/document/index.php?guid=2012&amp;oldDoc=2007-159/2007-159(027-028).pdf">{{ gettext('reference') }}</a>) <br>
            <input type="radio" name="mode" value="radiobutton2" id="radiobutton2"
                    {% if form_options["radio"] == 'radiobutton2' %} checked {% endif %}>
            <label for="radiobutton2">{{ gettext('Classical romanization') }}</label> (<a href="https://ru.wikipedia.org/wiki/%D0%91%D0%B5%D0%BB%D0%BE%D1%80%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9_%D0%BB%D0%B0%D1%82%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9_%D0%B0%D0%BB%D1%84%D0%B0%D0%B2%D0%B8%D1%82">{{ gettext('reference') }}</a>) <br>
            <input type="radio" name="mode" id="radiobutton3" value="radiobutton3"
                    {% if form_options["radio"] == 'radiobutton3' %} checked {% endif %}>
            <label for="radiobutton3">{{ gettext('According to the rules for romanization of names in the passport') }}</label> (<a href="http://www.pravo.by/document/?guid=2012&amp;oldDoc=2008-261/2008-261(081-092).pdf&amp;oldDocPage=1">{{ gettext('reference')}}</a>)<br>
        </div>

        
        <div class="col-md-12">
            <button type="submit" class="center button-primary btn__services">{{ gettext("Convert") }}</button>
        </div>
    </form>

    {% if is_post %}
        <div class="row">
            <div class="col-md-12">
                <div class="control-panel">
                    <div class="panel panel-default service__panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ gettext("Romanizator Py") }}</h3>
                        </div>
                        <div class="panel-body">
                            <p><textarea class="form-control" rows="10" id="outputText" placeholder="Recognized text"
                                         readonly>{% if is_post %}{{ output_text }}{% endif %}</textarea></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="col-md-12">
        <div class="control-panel">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ gettext ("Service source code can be downloaded ") }}<a href="https://gitlab.com/ssrlab1/romanizator-py" target="_blank">{{ gettext ("here") }}</a>.
                    <br>
                    <a href="https://gitlab.com/ssrlab1/romanizator-py/-/issues/new" target="_blank">{{ gettext ("Suggest an improvement of the service.") }}</a>.
                </div>
            </div>
        </div>
    </div>

{% endblock %}
